{% extends 'admin.html.twig' %}

{% block body %}
	<!--begin::Table-->
	<div class="table-responsive">
		<table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
			<thead>
				<tr class="text-uppercase">
					<th class="pl-0" style="min-width: 100px">id</th>
					<th style="min-width: 120px">description</th>
					<th style="min-width: 150px">Date & Heure</th>
					<th style="min-width: 130px">Docteur</th>
					<th style="min-width: 150px">Status</th>

					<th class="pr-0 text-right" style="min-width: 160px">action</th>
				</tr>
			</thead>
			<tbody>
				{% for rendez_vous in rendez_vouses %}
					<tr>
						<td class="pl-0">
							<a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">{{ rendez_vous.id }}</a>
						</td>
						<td>
							<span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{ rendez_vous.label }}</span>
						</td>
						<td>
							<span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{ rendez_vous.dateDuRdv ? rendez_vous.dateDuRdv|date('Y-m-d') : '' }}
								|
								{{ rendez_vous.heureDuRdv ? rendez_vous.heureDuRdv|date('H:i:s') : '' }}
							</span>
						</td>
						<td>
							<span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{ rendez_vous.doctor }}</span>
						</td>
						<td>
							{% if rendez_vous.isArchived == 'Yes' %}
								<span class="label label-lg label-light-success label-inline">Accepté</span>
							{% else %}
								<span class="label label-lg label-light-danger label-inline">Annulé</span>
							{% endif %}

						</td>
						<td class="pr-0 text-right">
							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">
								<span
									class="svg-icon svg-icon-md svg-icon-primary">
									<!--begin::Svg Icon | path:assets/metronics/media/svg/icons/General/Settings-1.svg-->
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24"/>
											<path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"/>
											<path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"/>
										</g>
									</svg>
									<!--end::Svg Icon-->
								</span>
							</a>
							<a href="{{ path('app_admin_rendez_vous_edit', {'id': rendez_vous.id}) }}" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
								<span
									class="svg-icon svg-icon-md svg-icon-primary">
									<!--begin::Svg Icon | path:assets/metronics/media/svg/icons/Communication/Write.svg-->
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24"/>
											<path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)"/>
											<path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
										</g>
									</svg>
									<!--end::Svg Icon-->
								</span>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!--end::Table-->
{% endblock %}
