{{ form_start(form) }}
<div class="row">
	<div class="col-sm-3">
		{{ form_label(form.label) }}
		{{ form_widget(form.label) }}
	</div>
	<div class="col-sm-3">
		{{ form_label(form.date_du_rdv) }}
		<div class="input-group date mb-2">
			<input id="kt_datetimepicker_4_2" placeholder="JJ-MM-AAAA" type="text" name="{{ field_name(form.date_du_rdv) }}" value="{{ field_value(form.date_du_rdv) }}" placeholder="{{ field_label(form.date_du_rdv) }}" class="form-control"/>
			<!--<input type="text" class="form-control" placeholder="Top right" id="kt_datetimepicker_4_2"/> -->
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="la la-clock-o glyphicon-th"></i>
				</span>
			</div>
		</div>


	</div>
	<div class="col-sm-2">
		{{ form_label(form.doctor) }}
		{{ form_widget(form.doctor) }}

	</div>
	<div class="col-sm-2">
		{{ form_label(form.isArchived) }}
		<div class="form-check form-switch">
			{{ form_widget(form.isArchived) }}
		</div>

	</div>
	<div class="col-sm-2">
		<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
	</div>
</div>

{{ form_end(form) }}
