{% extends 'admin.html.twig' %}

{% block title %}RendezVous index{% endblock %}

{% block body %}
    <h1>Mes RendezVous</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Date_du_rdv</th>
                <th>IsArchived</th>
                <th>Doctor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rendez_vou in rendez_vouses %}
            <tr>
                <td>{{ rendez_vou.id }}</td>
                <td>{{ rendez_vou.label }}</td>
                <td>{{ rendez_vou.dateDuRdv ? rendez_vou.dateDuRdv|date('d-m-Y H:i') : '' }}</td>
                <td>{{ rendez_vou.isArchived ? 'Yes' : 'No' }}</td>
                <td>{{ rendez_vou.doctor }}</td>
                <td>
                    <a href="{{ path('app_admin_rendez_vous_edit', {'id': rendez_vou.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_rendez_vous_new') }}">Create new</a>
{% endblock %}
